<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="com.test.mysql.mapper.DepartmentsMapper">
    <resultMap id="Result" type="com.test.mysql.bean.Departments">
         <id column="id" property="" jdbcType=""/>
         <result column="" property="" jdbcType=""/>
    </resultMap>
    <select id="selectByPrimaryKey" resultMap="" parameterType="java.lang.Integer">

    </select>
</mapper>