<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mysql.mapper.TitlesMapper">
    <select id="selectAll" resultType="com.test.mysql.bean.Titles">
        SELECT * FROM titles,employees WHERE employees.emp_no=titles.emp_no
    </select>
</mapper>